
<mat-toolbar color="primary">
	<span>UberUnit</span>
	<span class="example-spacer"></span>
	<button mat-icon-button class="example-icon" color="" [matMenuTriggerFor]="authMenu"
		aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
</mat-toolbar>

<mat-menu #authMenu="matMenu" x-position="before">
	<button mat-menu-item *ngIf="getIsAnon()" (click)="doOAuthSignIn()">
		<mat-icon>login</mat-icon>&nbsp;Sign In with Google
	</button>
	<button mat-menu-item (click)="doLogout()">
		<mat-icon></mat-icon>Sign Out/New Anonymous Account
	</button>
</mat-menu>

<div class="container">
	<app-convert-form></app-convert-form>
</div>
