<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/src/index.html" class="navbar-brand">UberUnit</a>
  </div>
</nav>
<div class="container">
  <div class="row align-content-center">
    <div class="col-sm-12 col-lg-6" id="convert">
      <div class="row justify-content-center">
        <app-convert-form></app-convert-form>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 justify-content-start">
      <div class="row">
        <app-history></app-history>
      </div>
      <div class="row">
        <app-favorites></app-favorites>
      </div>
    </div>
  </div>
</div>
