<div class="container">
  <h1>I want to </h1> <!-- Primary -->
  <mat-form-field class="mx-3 h1">
    <mat-select [formControl]="currentUI">
      <mat-option value="Convert">Convert</mat-option>
      <mat-option value="Sovle">Solve</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <mat-form-field class="mx-3 h1">
    <mat-select [formControl]="unitSet">
      <mat-option value="Length">Length</mat-option>
      <mat-option value="Area">Area</mat-option>
      <mat-option value="Volume">Volume</mat-option>
      <mat-option value="Velocity">Velocity</mat-option>
      <mat-option value="Acceleration">Acceleration</mat-option>
      <mat-option value="Force">Force</mat-option>
      <mat-option value="Pressure">Pressure</mat-option>
      <mat-option value="Energy">Energy</mat-option>
      <mat-option value="Electrical">Electrical</mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field class="mx-3 h1">
    <mat-select [formControl]="unitSet">
      <mat-option *ngFor='let set of internalUnitSetList' value="{{set.id}}">{{set.val}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="showConvertUI">
    <app-convert-form [currentUnitSet]="unitSet.value" [currentUnitList]="internalUnitSetList[unitSet.value].list"></app-convert-form>
  </div>
  <div *ngIf="showSolveUI">
    <app-solve-form></app-solve-form>
  </div>
</div>
