<div class="container">

	<div id="convertHeader">
		<h1>I want to convert</h1>
		<mat-form-field class="mx-3 h2">
			<mat-select [(ngModel)]="currentUnitSet">
				<mat-option *ngFor="let set of internalUnitSetList" value="{{ set.id }}">{{ set.val }}</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<div class="row py-2">
		<div class="col-8">
			<mat-form-field appearance="fill">
				<mat-label>Input</mat-label>
				<input matInput id="fromVal" type="number" step="0.001" [(ngModel)]="input1" />
			</mat-form-field>
		</div>
		<div class="col-4">
			<mat-form-field>
				<mat-select [(ngModel)]="input1Unit">
					<mat-option *ngFor="let unit of internalUnitSetList[currentUnitSet].list" value="{{ unit.id }}">{{ unit.val }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-8 mx-0">
			<button id="doConvert" type="submit" class="btn btn-primary w-100" (click)="doConvert()">
				<i class="fas fa-equals fa-2x"></i>
			</button>
		</div>
		<div class="col-4 mx-0">
			<button id="swapVals" class="btn btn-primary w-100" (click)="swapVals()">
				<i class="fas fa-exchange-alt fa-2x"></i>
			</button>
		</div>
	</div>
	<div class="row py-2">
		<div class="col-8">
			<input matInput id="toVal" type="number" step="0.001" [(ngModel)]="input2" />
		</div>
		<div class="col-4 katex">
			<mat-form-field>
				<mat-select [(ngModel)]="input2Unit" class="katex mathdefault">
					<mat-option class="katex mathdefault" *ngFor="let unit of internalUnitSetList[currentUnitSet].list"
						value="{{ unit.id }}">
						<ng-katex [equation]="unit.latex"></ng-katex>
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</div>
</div>
