input[type="number"] {
	height: 2.5rem;
	width: 100%;
	font-size: 2.5rem;
	-moz-appearance: [textfield];
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#headertext {
	display: flex;
	justify-content: center;
	padding-top: 30px;
	align-content: center;
}

h1 {
	padding-top: 30px;
	width: 100%;
}

#unitSelectHeader > ng-select {
	font-size: 2rem;
	width: 45%;
}

ng-select#unitSelect .katex.katex-html {
	font-size: 2.5rem !important;
}

div#largeConvButton,
div#smallConvButton {
	height: 48px;
}

div#largeConvButton > button,
div#smallConvButton > button {
	width: 100%;
	height: 100%;
	font-size: 48px;
}

mat-form-field#inputField {
	width: 100%;
}

#history,
#favorites {
	min-height: 25%;
}

#divider {
	border: 2.5px solid #262626;
	background-color: #262626;
}
