input[type="number"] {
	height: 2.5rem;
	width: 100%;
	font-size: 2.5rem;
	-moz-appearance: [textfield];
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#convertHeader {
	 display: flex;
	// margin: auto;
	justify-content: center;
}

#convertHeader > h1 {
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

#convertHeader > ng-select {
	display: inline;
	// padding-top: 40px;
	font-size: 2rem;
	// padding-left: 16px;
	width: 35%;
}



ng-select#unitSelect .katex.katex-html {
	font-size: 2.5rem !important;
}

div#largeConvButton,
div#smallConvButton {
	height: 48px;
}

div#largeConvButton > button,
div#smallConvButton > button {
	width: 100%;
	height: 100%;
	font-size: 48px;
}

mat-form-field#inputField {
	width: 100%;
}
