@import "~katex/dist/katex.css";

input[type="number"] {
	height: 50px;
	width: 100%;
	font-size: 44px;

	-moz-appearance: [textfield];
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#convertHeader{
	display: flex;
}

#convertHeader > h1{
	display:inline;
	overflow: hidden;
	white-space: nowrap;
	padding-top:38px;
}
